{%- style -%}
  .video-auto-loop-wrap, .video-auto-loop-wrap video {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  max-height: 700px;
  object-fit: cover;
  }

  .video-auto-loop-wrap::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.06);
}

.video-center-logo {
  position: absolute;
  top: 44%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 355px; 
  max-height: 355px; 
}

.video-text {
  position: absolute;
  top: 62%; /* ロゴの下部に配置するための位置を調整 */
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* テキストの色 */
  font-size: 25px; /* テキストのサイズ */
  text-align: center; /* 中央揃え */
  /* 必要に応じて他のスタイルを追加 */
}

{%- endstyle -%}



<div class="video-auto-loop-wrap">
  {{
    section.settings.video
    | video_tag:
      image_size: '11000x',
      autoplay: true,
      loop: true,
      controls: false,
      muted: true
      
  }}
  <img class="video-center-logo" src="https://cdn.shopify.com/s/files/1/0621/0912/2727/files/logo1_white.svg?v=1701952909" alt="ロゴ">
  <p class="video-text">宮古島のコリビングホステル</p>
</div>




{% schema %}
{
  "name": "動画(自動再生)",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "video",
      "id": "video",
      "label": "t:sections.video.settings.video.label"
    }
  ],
  "presets": [
    {
      "name": "動画(自動再生)"
    }
  ]
}
{% endschema %}
